@font-face {
  font-family: Quesha;
  src: url("./Quesha-gndR.ttf");
}
@font-face {
  font-family: Helmswald;
  src: url("./Helmswald Post demo.otf");
}
@font-face {
  font-family: Poppins;
  src: url("./Poppins-Regular.ttf");
}

html {
  height: 100%;
  overflow: hidden;
}

.App {
  height: 100vh;
  padding: 0;
  overflow: hidden;
}

.header {
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: rgb(24, 24, 24);
  color: #e0be90;
  top: 0;
  z-index: 101;
  padding: 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 3px solid rgba(0, 0, 0, 0.6);
  color: white;

  .left {
    a {
      font-family: Helmswald;
      font-size: 20px;
    }
  }
  .middle {
    font-family: Quesha;
    font-size: 50px;
  }

  .right {
    font-family: Quesha;
    font-size: 35px;
    cursor: pointer;
  }
}

.content {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);
  top: 60px;
}
.about {
  display: none;

  &.active {
    display: flex;
    justify-content: center;
    position: absolute;

    width: 100%;
    height: 100%;
    top: 0;

    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(25, 25, 25, 1) 100%
    );
    z-index: 102;
    .message {
      margin-top: 25px;
      width: 60%;
      height: fit-content;
      font-size: 25px;
      font-family: Poppins;
      border-radius: 5px;
      outline: solid 2px white;
      padding: 25px;
    }
  }
}
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 40px 40px 40px;
  background-color: black;
  background-image: radial-gradient(
      white,
      rgba(255, 255, 255, 0.2) 2px,
      transparent 10px
    ),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 5px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 10px),
    radial-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.1) 2px,
      transparent 5px
    );
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;

  overflow-y: scroll;

  .thoughtsDisplay {
    position: absolute;
    width: 60vw;
    height: auto;

    overflow-wrap: break-word;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    opacity: 1;
    .post {
      z-index: 3;
      margin-bottom: 35px;
      .title {
        width: calc(60vw - 15px);
        font-size: 20px;
        background-color: rgb(24, 24, 24);
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 8px;

        outline: solid 1px rgba(255, 255, 255, 0.5);
        font-family: Poppins;
      }
      .body {
        width: calc(60vw - 15px);
        font-size: 15px;
        background-color: rgb(24, 24, 24);
        padding: 15px;
        border-radius: 5px;

        overflow-wrap: break-word;
        outline: solid 1px rgba(255, 255, 255, 0.5);
        font-family: Poppins;
        &.active {
          filter: blur(2px);
          outline: solid 1px rgba(255, 255, 255, 1);
        }
      }
    }

    &.active {
      opacity: 0;
    }
  }

  .createPrompt {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(25, 25, 25, 1) 100%
    );
    z-index: 2;

    input[type="text"] {
      background-color: rgb(24, 24, 24);
      color: white;
      width: 60%;
      height: 7vh;
      padding: 0 15px 0 15px;
      margin-bottom: 20px;

      font-size: 25px;
      border-radius: 5px;
      font-family: Poppins;
    }

    textarea {
      width: 60%;
      height: 50vh;
      padding: 15px 15px 15px 15px;
      margin-bottom: 10px;
      resize: none;

      font-size: 20px;
      outline: none;
      border-radius: 5px;

      background-color: rgb(24, 24, 24);
      color: white;
      font-family: Poppins;
    }
    .TriggerWarn {
      width: 60%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 20px;
      outline: solid 2px rgba(255, 255, 255, 0.7);
      border-radius: 3px;
      padding: 5px;

      .label {
        font-size: 15px;
        font-family: Poppins;
      }

      input[type="checkbox"] {
        width: auto;
        height: 15px;
        right: 0;
        color: white;
        border-radius: 3px;
        margin-left: 5px;
      }
    }

    button {
      width: auto;
      height: auto;
      padding: 15px;
      font-size: 15px;
      border-radius: 5px;
      background-color: rgb(24, 24, 24);
      color: white;
      outline: none;
      font-family: Poppins;
    }

    transition: all 0.5s ease;
    &.active {
      opacity: 1;
      overflow: hidden;
    }
  }
}

.createButton {
  position: absolute;
  right: 3vw;
  bottom: 4vh;
  z-index: 101;

  .button {
    width: 75px;
    height: 75px;
    font-size: 75px;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    color: white;

    font-weight: 300;
    font-family: Arial, sans-serif;

    transition: all 1s ease;
    background-color: rgb(24, 24, 24);
    outline: solid 2px white;
  }

  &.active {
    .button {
      transform-origin: center;
      transform: rotate(45deg);
    }
  }
}

@media only screen and (max-width: 720px) {
  .about {
    &.active {
      overflow: scroll;

      .message {
        width: 80%;
        font-size: 18px;
      }
    }
  }

  .wrapper {
    .thoughtsDisplay {
      width: 80vw;
      .post {
        .title {
          width: calc(80vw - 15px);
        }
        .body {
          width: calc(80vw - 15px);
        }
      }

      &.active {
        opacity: 0;
      }
    }
    .createPrompt {
      width: 100%;

      input[type="text"] {
        width: 80%;
      }

      textarea {
        width: 80%;
        height: 35vh;

        font-family: Poppins;
      }
      .TriggerWarn {
        width: 80%;

        button {
          width: auto;
          height: auto;
        }

        &.active {
          opacity: 1;
          overflow: hidden;
        }
      }
    }
  }

  .createButton {
    .button {
      width: 13vw;
      height: 13vw;
      font-size: 13vw;
      border-radius: 0;
    }
  }
}
